In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/Year 2009-2010.csv", encoding = "ISO-8859-1")
df_target = pd.read_csv("data/Year 2010-2011.csv", encoding = "ISO-8859-1")

In [3]:
df["Customer ID"].unique()

array([13085., 13078., 15362., ..., 12942., 13369., 15211.])

In [14]:
df["StockCode"].unique().size

4632

In [4]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [5]:
df_target["amount"] = df_target["Quantity"] * df_target["Price"]

In [6]:
df["InvoiceDate"] = (pd.to_datetime(df["InvoiceDate"]) - pd.Timestamp('2009-01-01')).dt.days
min(df["InvoiceDate"]), max(df["InvoiceDate"])

(334, 707)

In [7]:
df.shape

(525461, 8)

In [8]:
len(df["Customer ID"].unique())

4384

In [9]:
dataset = pd.DataFrame(index=df["Customer ID"].unique())

In [10]:
dataset["num_orders"] = df.groupby("Customer ID").size()

dataset["avg_price"] = df.groupby("Customer ID").mean()["Price"]
dataset["max_price"] = df.groupby("Customer ID").max()["Price"]
dataset["min_price"] = df.groupby("Customer ID").min()["Price"]

dataset["avg_quantity"] = df.groupby("Customer ID").mean()["Quantity"]
dataset["max_quantity"] = df.groupby("Customer ID").max()["Quantity"]
dataset["min_quantity"] = df.groupby("Customer ID").min()["Quantity"]

dataset["avg_InvoiceDate"] = df.groupby("Customer ID").mean()["InvoiceDate"]
dataset["max_InvoiceDate"] = df.groupby("Customer ID").max()["InvoiceDate"]
dataset["min_InvoiceDate"] = df.groupby("Customer ID").min()["InvoiceDate"]

dataset["target"] = df_target.groupby("Customer ID").sum()["amount"]
dataset = dataset.fillna(0)
dataset.head()

,num_orders,avg_price,max_price,min_price,avg_quantity,max_quantity,min_quantity,avg_InvoiceDate,max_InvoiceDate,min_InvoiceDate,target
13085.0,63.0,16.526508,830.12,0.55,11.539683,48.0,-1.0,373.206349,652.0,334.0,272.38
13078.0,475.0,3.950779,12.75,0.19,13.612632,160.0,-14.0,538.145263,706.0,334.0,12432.28
15362.0,40.0,3.612000,9.95,0.21,9.200000,48.0,1.0,457.250000,624.0,334.0,0.00
18102.0,635.0,10.091606,3580.80,0.27,193.681890,1008.0,-324.0,489.675591,707.0,334.0,256438.49
12682.0,517.0,3.468665,18.00,0.21,10.510638,48.0,-5.0,526.839458,707.0,334.0,12288.22

In [12]:
dataset.to_csv("data/retail_dataset.csv",index=False)